<%=@doctor.name%><br>
<%=@doctor.department%>
<ul>
<%=@doctor.appointments.each do |a|%>
    <li><%=a.appointment_datetime.strftime("%B %d, %Y at %k:%M")%><br><%= link_to a.patient.name, patient_path(a)%></li><br><br>
<%end%>
</ul>